
ul {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0px;    
  margin: 0px;
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
  }

.nav-item {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.page-item {
  text-align: center;
  padding: 1px 4px;
  border: 2px black solid;
  background: rgba(0, 0, 0, 0.6);
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

/* SEARCH BAR */
.searchbar:focus {
  
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
/* SELECT */

.selectdiv {
  position: relative;
  min-width: 200px;
  margin:0px 0px 0px 10px;
}

.selectdiv:after {
  content: '<>';
  font: 14px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px; 
  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 40px;
  float: right;
  margin: 0px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

/* LISTADO ACTIVIDADES */

.tourism-list {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
  padding: 1em 0px;
  margin: auto;
  list-style: none;
  display: flex;
  flex-flow: column;  
  }

.tourism-item {
  color: white;
  padding: 0px;
  margin: 4px 1px 5px;
  list-style: none;
  border-bottom: 1px solid white;
}

.buttonsearch {
  height:100%;
}

.searchbar {
  padding: 10px 6px;

}

 .button-create, .button-back {
  padding: 10px 20px;
  border:1px solid white;
  border-radius: 15px;
  color: #ffffff;
  z-index: 1;
  background: #020000;
  position: relative;
  font-weight: 1000;
  font-size: 13px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(247, 242, 242, 0.5);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .button-create::before, .button-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #faf4f4;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .button-create:hover, .button-back:hover {
  color: #020202;
 }
 
 .button-create:hover::before, .button-back:hover::before {
  width: 100%;
 }

